body {
  background-color: antiquewhite;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

div {
  background-color: white;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
h1 {
  text-align: center;
}

input {
  padding: 8px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  width: 80%;
  margin-bottom: 20px;
  margin-left: 15px;
}
button {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  background-color: rgb(34, 165, 34);
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}
button:hover {
  background-color: rgb(23, 139, 23);
}

span {
  border: 1px;
}
