*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#f33446, #889efd);
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector{
    width: 350px;
}
#selectField{
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.7);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#selectField img{
    transition: transform 0.5s;
}

#list{
    width: 100%;
    background: rgba(255,255,255,0.7);
    border-radius: 6px;
    overflow: hidden;
}

.options{
    width: 100%;
    padding: 15px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;

}

.options:hover{
    background: rgba(255,255,255,0.7);
}

.hide{
    visibility: hidden;
}

.rotate{
    transform: rotate(180deg);
}