*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background: #002339;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px;
    border-radius: 10px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid  #019f55;
    padding-bottom: 6px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 16px;
}
.container button img{
    width: 28px;
    margin-right: 8px;
}
.container button{
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}